/*
 * @Author: Harry Tang - harry@powerkernel.com 
 * @Date: 2020-01-04 16:19:33 
 * @Last Modified by:   Harry Tang - harry@powerkernel.com 
 * @Last Modified time: 2020-01-04 16:19:33 
 */
@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}
