/*
 * @Author: Harry Tang - harry@powerkernel.com 
 * @Date: 2020-01-04 18:45:13 
 * @Last Modified by:   Harry Tang - harry@powerkernel.com 
 * @Last Modified time: 2020-01-04 18:45:13 
 */

@media all and (min-width: 480px) {
  .Signup {
    padding: 60px 0;
  }

  .Signup form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.Signup form span.help-block {
  font-size: 14px;
  padding-bottom: 10px;
  color: #999;
}
